<a href="https://colab.research.google.com/github/marcelounb/DeepLearning/blob/master/Projeto1_IMC_Marcelounb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%tensorflow_version 2.x
import tensorflow as tf
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [0]:
imcs = pd.read_csv('/content/imc.csv')
imcs.reset_index(drop=True, inplace=True)

In [13]:
imcs

     weight  height        imc
0      68.0   1.710  23.255019
1      55.7   1.102  45.866120
2      14.3   1.284   8.673732
3      83.1   1.183  59.378816
4      96.6   1.866  27.743027
..      ...     ...        ...
195    20.5   1.823   6.168514
196    18.9   1.394   9.726045
197    56.8   1.177  41.001091
198    46.6   1.979  11.898558
199     4.0   1.082   3.416689

[200 rows x 3 columns]